{{ define "main" }}
<div class="pamphlet">
<article class="pamphlet__content">
    <header class="pamphlet__header">
        <h1 class="pamphlet__title">{{ .Title }}{{ if .Params.Subtitle }}: {{ .Params.Subtitle }}{{ end }}</h1>
        {{ if .Params.Number }}
        <h2 class="pamphlet__number">Prickly Paradigm #{{ .Params.Number }}</h2>
        {{ end }}
        <h3 class="pamphlet__author">{{ $.Params.author }}</h3>
        {{ if .Params.Byline2 }}
        <p class="pamphlet__byline2">{{ .Params.Byline2 }}</p>
        {{ end }}
    </header>

    <main class="pamphlet__body">
        {{ .Content }}
        <div class="pamphlet__details">
            {{ if .Params.isbn }}<div class="pamphlet__isbn">ISBN: {{ .Params.isbn }}</div>{{ end }}
            {{ if .Params.pages }}<div class="pamphlet__pages">{{ .Params.Pages }} Pages</div>{{ end }}
            <div class="pamphlet__buy">
                <a class="ripple-btn order__btn" href="{{ .Params.Exturl }}" target="_blank"><i class="fa fa-external-link-alt"></i> Order Now</a>
            </div>
        </div>
        {{ if (or .Params.notes .Params.toc) }}
        <div class="pamphlet__files">
            {{ if .Params.notes }}<div class="pamphlet__notes"><a class="ripple-btn-alt" href="{{ $.Site.BaseURL }}images/{{ .Params.Notes }}"><i class="fa fa-download"></i> Source Notes</a></div>{{ end }}
            {{ if .Params.toc }}<div class="pamphlet__toc"><a class="ripple-btn-alt" href="{{ $.Site.BaseURL }}images/{{ .Params.toc }}"><i class="fa fa-download"></i> Table of Contents</a></div>{{ end }}
        </div>
        {{ end }}
        {{ if .Params.Translations }}
        <div class="pamphlet__translations">
            {{ range .Params.Translations }}
            <div class="pamphlet__language">{{ .language }} -- {{ .native }} -- {{ .transurl }}</div>
            {{ end }}
        </div>
        {{ end }}
    </main>
</article>
{{ if .Params.Cover }}
<div class="pamphlet__cover">
    <img src="{{ $.Site.BaseURL }}images/{{ .Params.Cover }}" width="318" alt="{{ .Title }} Cover">
</div>
{{ end }}
</div>
{{ end }}
