{{ define "main" }}
<div class="pamphlet">
<article class="pamphlet__content">
    <header class="pamphlet__header">
        <h1 class="pamphlet__title">{{ .Title }}{{ if .Params.Subtitle }}: {{ .Params.Subtitle }}{{ end }}</h1>
        <h2 class="pamphlet__number">Prickly Paradigm #{{ .Params.Number }}</h2>
        <h3 class="pamphlet__author">{{ $.Params.author }}</h3>
        {{ if .Params.Byline2 }}
        <p class="pamphlet__byline2">{{ .Params.Byline2 }}</p>
        {{ end }}
    </header>

    <main class="pamphlet__body">
        {{ .Content }}
        <div class="pamphlet__details">
            {{ if (or .Params.notes .Params.toc) }}
                {{ if .Params.notes }}<div class="pamphlet__notes"><a href="{{ $.Site.BaseURL }}files/{{ .Params.Notes }}"><i class="fa fa-download"></i> Source Notes</a></div>{{ end }}
                {{ if .Params.toc }}<div class="pamphlet__toc"><a href="{{ $.Site.BaseURL }}files/{{ .Params.toc }}"><i class="fa fa-download"></i> Table of Contents</a></div>{{ end }}
            {{ end }}
            {{ if .Params.isbn }}<div class="pamphlet__isbn">ISBN: {{ .Params.isbn }}</div>{{ end }}
            {{ if .Params.pages }}<div class="pamphlet__pages">{{ .Params.Pages }} Pages</div>{{ end }}
            <div class="pamphlet__buy">
                <a class="ripple-btn order__btn" href="{{ .Params.Exturl }}" target="_blank">Order Now</a>
            </div>
        </div>
        {{ if .Params.Translations }}
        <div class="pamphlet__translations">
            <p class="pamphlet__translation__notice">{{ if .Params.transNotice }}{{ .Params.transNotice }}{{ else }}The following translations are also available:{{ end }}</p>
            <div class="pamphlet__languages">
                {{ range .Params.Translations }}
                <div class="pamphlet__language"><a class="ripple-btn-alt translation__btn" href="{{ .transurl }}" target="_blank">{{ .native }}</a></div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </main>
</article>
{{ if .Params.Cover }}
<div class="pamphlet__cover">
    <img src="{{ $.Site.BaseURL }}images/{{ .Params.Cover }}" width="318" alt="{{ .Title }} Cover">
</div>
{{ end }}
</div>
{{ end }}
